@charset "UTF-8";

html{
	background-color: black;
	font-size: 0.5vmin;
}
body {
	font-family: 'dohyeon';
	background: linear-gradient(to bottom, #dedede 0%, #000000 100%);
	color: white;
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  	grid-template-areas:
  		"header header header header header"
  		". mainContainers mainContainers mainContainers sideMenu" 
    	". mainContainers mainContainers mainContainers sideMenu"
    	". mainContainers mainContainers mainContainers sideMenu" 
    	". mainContainers mainContainers mainContainers sideMenu" 
    	"footer footer footer footer footer";
}
/* 블라인드 */
.mainContainers{
  	grid-area: mainContainers;
}
.common_blind{
	position:absolute;  
	left:0;
	top:0;
	z-index:9000;  
	background-color:rgba(0, 0, 0, 0.69);  
	display:none;
}
/* 상단 헤더 */
.header {
	grid-area: header;
    padding: 10px;
    text-align: center;
    position: relative;
}
/* 하단 풋터 */
.footer {
  	grid-area: footer;
	font-family: 'yeonsung';
	padding-top: 25px;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
  	grid-template-areas: 
    	". logo . footer1 footer1 footer1 footer1 footer2 footer2 ."
    	". hr hr hr hr hr hr hr hr ."
    	". . text1 text2 text2 text2 text2 text3 text3 .";
}

.f_logo {
  	grid-area: logo;
    width: 100%;
    height: 100%;
    position: relative;
}
#cat_div>img{
	width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#cat_msg_div{
	position: relative;
    display: none;
}
#cat_msg_div>img{
	width: 9vw;
    position: absolute;
    top: -18vh;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: black;
}
#cat_say{
	position: absolute;
    font-size: 5rem;
    color: red;
    top: -11.5vh;
    left: 2vw;
}

.footer1{
  grid-area: footer1;
}
.footer1_socialIcon{
	position: relative;
    top: 2vh;
}
.footer1_socialIcon>div{
	
    display: inline-block;
}
.footer1_socialIcon> i{
	border-left:0.5vw;
	border-right:0.5vw;
	}
	
.footer2{
  grid-area: footer2;
  }
.f_hr{
  grid-area: hr;
  }
.f_text1{
  grid-area: text1;
  }
.logoutFace{
  display: none;
}
.logoutGoo{
	display: none;
}
.f_text2{
  grid-area: text2;
  }
.f_text3{
  grid-area: text3;
  }

/* 삼각형 */
.wrapTri {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.wrapTri .section {
  /*   height: 69px;
    padding: 100px 0;
    background: #000;
   display: block; */
}

.downTri {
   position: relative;
   margin: 0 auto;
   cursor: pointer;
   width: 0;
   height: 0;
   border-right: 17px solid transparent;  
   border-left: 17px solid transparent; 
   border-top: 25px solid #fff;
}

/* menu */
.sidenav {
	grid-area: sideMenu;
	font-family: 'hanna';
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right:-200px;
    width: 300px;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
  	grid-template-areas: 
    	"menu1 menu2 menu2 menu2 menu2 menu2";
}

.sidenav>div{
	text-align: left;
}

.menu_grid1 {
  grid-area: menu1;
  width: 50px;
}
.menu_grid2 {
  grid-area: menu2;
      overflow-x: hidden;
      width: 0;
         position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80%;
}
/*  */

#menu_checkbox {
  display: none;
}

#menu_icon {
  position: relative;
  width: 50px;
  height: 40px;
  display: inline-block;
  cursor: pointer;
  margin: 1.7em;
  -webkit-transition: all .5s;
  transition: all .5s;
  text-align: left;
}

#menu_icon > div,
#menu_icon > div:before,
#menu_icon > div:after {
  background: black;
  position: absolute;
  height: 5px;
  width: 50px;
  border-radius: 4px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

#menu_icon div:first-child {
  top: 0px;
}
#menu_icon div:nth-child(2) {
  top: 10px;
}
#menu_icon div:nth-child(3) {
  top: 20px;
}

#menu_checkbox + #menu_icon div:nth-child(3):after {
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background: none;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  left: 15px;
  top: 10px;
  border-radius: 0px;
}

#menu_checkbox:checked + #menu_icon div:first-child {
  height: 21px;
  width: 21px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
  background: none;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  left: 14px;
  top: -14px;
  border-radius: 0px;
}
#menu_checkbox:checked + #menu_icon div:nth-child(2) {
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(495deg);
          transform: rotate(495deg);
  background: none;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  left: 28px;
  top: 0px;
  border-radius: 0px;
}
#menu_checkbox:checked + #menu_icon div:nth-child(3) {
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
  background: none;
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}
#menu_checkbox:checked + #menu_icon div:nth-child(3):after {
  content: "";
  height: 20px;
  width: 20px;
  -webkit-transform: rotate(-450deg);
          transform: rotate(-450deg);
  background: none;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  left: 0px;
  top: 20px;
  border-radius: 0px;
}

/*  */
.sidenav a {
    padding: 9% 9%;
    text-decoration: none;
    font-size: 25px;
    color: #a5a5a5;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: white;
}

.sidenav a:after {
    color: black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
    margin-right: 6%;
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (max-width: 750px) {
  .time_container {
    display: none;
  }
}
/* 폰트 모음 */

@font-face {
	font-family: 'dohyeon';
	src: url(../fonts/BMDOHYEON_ttf.ttf);
}
@font-face {
	font-family: 'hanna';
	src: url(../fonts/BMHANNA.ttf);
}@font-face {
	font-family: 'jua';
	src: url(../fonts/BMJUA_ttf.ttf);
}@font-face {
	font-family: 'kiranghaerang';
	src: url(../fonts/BMKIRANGHAERANG-TTF.ttf);
}@font-face {
	font-family: 'yeonsung';
	src: url(../fonts/BMYEONSUNG_ttf.ttf);
}@font-face {
	font-family: 'oseong-bold';
	src: url(../fonts/OSeongandHanEum-Bold.ttf);
}@font-face {
	font-family: 'oseong';
	src: url(../fonts/OSeongandHanEum-Regular.ttf);
}
