@charset "UTF-8";

html{
	font-size: 0.5vmax;
}
body {
	font-family: 'dohyeon';
	background-color: black;
	color: white;
	/* background-repeat: no-repeat;
    background-size: 100%; */
}
/* 블라인드 */
.common_blind{
	position:absolute;  
	left:0;
	top:0;
	z-index:9000;  
	background-color:rgba(0, 0, 0, 0.69);  
	display:none;
}
/* 상단 헤더 */
.header {
	background-color: black;
    padding: 10px;
    text-align: center;
    position: relative;
}
/* 하단 풋터 */
.footer {
	font-family: 'yeonsung';
    width: 93%;
	padding-top: 25px;
	background-color: black;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(9, 1fr);
  	grid-template-areas: 
    	". logo . face goo twt git ins ."
    	". hr hr hr hr hr hr hr ."
    	". . text1 text1 text2 text2 text3 text3 .";
}

.f_logo {
  	grid-area: logo;
    width: 100%;
    height: 100%;
    position: relative;
}
#cat_div>img{
	width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
#cat_msg_div{
	position: relative;
    display: none;
}
#cat_msg_div>img{
	width: 120px;
    position: absolute;
    top: -135px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    color: black;
}
#cat_say{
	position: absolute;
	font-size: 20px;
	color: red;
	top: -90px;
	left: 9px;
}
.f_face{
  grid-area: face;
}
.f_goo{
  grid-area: goo;
  }
.f_twt{
  grid-area: twt;
  }
.f_git{
  grid-area: git;
  }
.f_ins{
  grid-area: ins;
  }
.f_hr{
  grid-area: hr;
  }
.f_text1{
  grid-area: text1;
  }
.f_text2{
  grid-area: text2;
  }
.f_text3{
  grid-area: text3;
  }

/* 삼각형 */
.wrapTri {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.wrapTri .section {
    height: 69px;
    padding: 100px 0;
    background: #000;
   display: block;
}

.downTri {
   position: relative;
   margin: 0 auto;
   cursor: pointer;
   width: 0;
   height: 0;
   border-right: 17px solid transparent;  
   border-left: 17px solid transparent; 
   border-top: 25px solid #fff;
}
 
/* 폰트 모음 */

@font-face {
	font-family: 'dohyeon';
	src: url(../fonts/BMDOHYEON_ttf.ttf);
}
@font-face {
	font-family: 'hanna';
	src: url(../fonts/BMHANNA.ttf);
}@font-face {
	font-family: 'jua';
	src: url(../fonts/BMJUA_ttf.ttf);
}@font-face {
	font-family: 'kiranghaerang';
	src: url(../fonts/BMKIRANGHAERANG-TTF.ttf);
}@font-face {
	font-family: 'yeonsung';
	src: url(../fonts/BMYEONSUNG_ttf.ttf);
}@font-face {
	font-family: 'oseong-bold';
	src: url(../fonts/OSeongandHanEum-Bold.ttf);
}@font-face {
	font-family: 'oseong';
	src: url(../fonts/OSeongandHanEum-Regular.ttf);
}
